
.start-btn {
    background-color:#ED1B24;
    color: #FFF;
    border: 2px solid #FFF;
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    cursor:pointer;
}

.start-btn:hover {
background-color:#c8161e;
font-weight: 700;
border: 3px solid #FFF;
}

#player-card-container {
    width: 100%;
    height: 350px;
    background-color: lightgreen;
}
.player-card {
    width: 200px;
    height: 300px;
    border: solid black 2px;
    float: left;
    margin: 20px;
    border-radius: 10px;
    background-color: #FFF;
    color: #000;
}
.player-card .card-value {
    font-size: 3rem;
    text-align: center;
}
.player-card .card-class {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 0;
}
.player-card .card-value--pull-left {
    float:left;
    margin: 0 0 0 20px;
}

.player-card .card-value--pull-right {
    float:right;
    margin: 35px 20px 0 0;
}

.player-card-score, .computer-card-score {
    font-size: 2em;
}

#computer-card-container {
    width: 100%;
    height: 250px;
    background-color: green;
}
.computer-card {
    width: 140px;
    height: 200px;
    border: solid black 2px;
    float: left;
    margin: 10px;
    border-radius: 10px;
    background-color: #FFF;
    color: #000;
}
.computer-card .card-value {
    font-size: 2rem;
    text-align: center;
}
.computer-card .card-class {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0;
    padding: 20px 0;
}
.computer-card .card-value--pull-left {
    float:left;
    margin: 0 0 0 5px;
}

.computer-card .card-value--pull-right {
    float:right;
    margin: 20px 5px 0 0;
}

.red {
    color:red;
}

.black {
    color: black;
}
